<RadioGroup [(modelValue)]="selectedLanguage" class="flex flex-col gap-4">
  <RadioGroupLabel class="text-sm font-medium text-gray-700">
    Select a language
  </RadioGroupLabel>

  <RadioGroupOption
    *ngFor="let lang of languages"
    [value]="lang"
    class="cursor-pointer px-4 py-2 border rounded-md hover:bg-gray-50"
    [class.bg-blue-500]="selectedLanguage === lang"
    [class.text-white]="selectedLanguage === lang"
  >
    {{ lang.name }}
  </RadioGroupOption>
</RadioGroup>

<pre>{{selectedLanguage.name}}</pre>
